[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "Simple-OpenGL-Image-Library"]
	path = Simple-OpenGL-Image-Library
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
